<section class="tokenization">
	<div class="container append-container">
		<div class="section-header">
			<h2 class="section-title">
				Tokenization
			</h2>
			<p class="section-subtitle">Representation of physical assets and associated rights on blockchain</p>
		</div>
		<div class="tokenization__table">
			<div class="tokenization__wrapper">
				<div class="tokenization__image append-item">
					<img src="img/home-page/tokenization.svg" alt="Decor illustration">
					<img class="tokenization__image_lg" src="img/home-page/tokenization-lg.png" alt="Decor illustration">
				</div>
				<div class="tokenization__text">
					<p class="site-description">
						Immutable storage of all info on the asset's specification, ownership rights and sales transaction  on blockchain
					</p>
					<p class="site-description">
						An instrument to successfully initiate, negotiate and successfully close sales deals on the platform controlled by smart contracts to provide transparency, speed and safety
					</p>
					<p class="site-description">
						Reliable confirmation of (fractional) ownership transfer
					</p>
					<p class="site-description">
						Bridge between existing business practices and the coming WEB 3 realms
					</p>
				</div>
				<div class="tokenization__buttons">
					@@include('../../../UI/btn-primary/btn-primary.html', {
						"text": "Request demo"
					})
					@@include('../../../UI/btn-secondary/btn-secondary.html')
				</div>
			</div>
		</div>
	</div>
</section>