// Color's =====>

$color-white: #ffffff;
$color-black: #000000;
$color-background: #182057;
$color-blue: #182057;
$color-blue-secondary: #212A5E;

// Transition's =====>

$transition-low: all 0.15s ease-in-out;
$transition-normal: all 0.3s ease-in-out;
$transition-high: all 0.6s ease-in-out;