<section class="smartplace">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">
				Jetset Smartplace
			</h2>
			<p class="section-subtitle">
				Legally compliant sales & acquisitions automated transactions secured by smart contracts
			</p>
		</div>
		<div class="tabs-body">
			<img class="tabs-body__item tabs-body__item_active" src="img/home-page/tabs-1.png" alt="Preview image">
			<img class="tabs-body__item" src="img/home-page/tabs-2.png" alt="Preview image">
			<img class="tabs-body__item" src="img/home-page/tabs-1.png" alt="Preview image">
			<img class="tabs-body__item" src="img/home-page/tabs-2.png" alt="Preview image">
			<img class="tabs-body__item" src="img/home-page/tabs-1.png" alt="Preview image">
		</div>
		<div class="smartplace__text">
			<div class="tabs-header">
				<div class="tabs-header__item tabs-header__item_active">
					<h3 class="tabs__title">
						Transparency
					</h3>
					<button class="tabs__trigger">
						Enter into a deal only with confirmed counterparty
						<svg class="tabs__icon">
							<use xlink:href="img/sprite.svg#arrow-right-bold"></use>
						</svg>
					</button>
				</div>
				<div class="tabs-header__item">
					<h3 class="tabs__title">
						Online communication
					</h3>
					<button class="tabs__trigger">
						Negotiate Terms & Conditions and arising issues directly online
						<svg class="tabs__icon">
							<use xlink:href="img/sprite.svg#arrow-right-bold"></use>
						</svg>
					</button>
				</div>
				<div class="tabs-header__item">
					<h3 class="tabs__title">
						Complience with law
					</h3>
					<button class="tabs__trigger">
						Digitally sign automatically drafted legal and closing documents
						<svg class="tabs__icon">
							<use xlink:href="img/sprite.svg#arrow-right-bold"></use>
						</svg>
					</button>
				</div>
				<div class="tabs-header__item">
					<h3 class="tabs__title">
						Step-by-step process
					</h3>
					<button class="tabs__trigger">
						Structured sales process controlled by smart contracts
						<svg class="tabs__icon">
							<use xlink:href="img/sprite.svg#arrow-right-bold"></use>
						</svg>
					</button>
				</div>
				<div class="tabs-header__item">
					<h3 class="tabs__title">
						Cost and time saving
					</h3>
					<button class="tabs__trigger">
						Do the deal on your own without middlemen
						<svg class="tabs__icon">
							<use xlink:href="img/sprite.svg#arrow-right-bold"></use>
						</svg>
					</button>
				</div>
			</div>
			@@include('../../../UI/btn-primary/btn-primary.html', {
				"text": "Request demo"
			})
		</div>
	</div>
</section>