<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon">
	<title>Jeto Wallet</title>

	<!-- Import Style's -->
	<link rel="stylesheet" href="./css/vendor.min.css">
	<link rel="stylesheet" href="./css/main.min.css">
</head>
<body>

<!-- Header -->
@@include('../components/layout/header/header.html')

<main class="products-page wallet-page">

	<!-- Hero -->
	@@include('../components/layout/wallet-page/hero/hero.html')
	<!-- Banner -->
	@@include('../components/layout/wallet-page/banner/banner.html')
	<!-- Benefits -->
	@@include('../components/layout/wallet-page/benefits/benefits.html')
	<!-- Payments -->
	@@include('../components/layout/wallet-page/payments/payments.html')

</main>

<!-- Footer -->
@@include('../components/layout/footer/footer.html')

<!-- Import Script's -->
<script src="./js/vendor.min.js"></script>
<script src="./js/main.min.js"></script>
</body>
</html>