<section class="hero">
	<div class="container append-container">
		<div class="hero__text">
			<h1 class="site-title">
				<strong>AIRCRAFT, YACHTS AND ELITE CARS</strong>
				TOKENIZATION & TRADING
			</h1>
			<p class="site-description">
				All-in-one solution to trade real-world assets directly without middlemen, efficiently and safely
			</p>
			<div class="hero__image append-item">
				<img src="img/home-page/hero-horse.svg" alt="Decor illustration">
			</div>
			<div class="hero__buttons">
				@@include('../../../UI/btn-primary/btn-primary.html', {
					"text": "Request demo"
				})
				<button class="btn-secondary">
					<span class="btn-secondary__text">
						Sign up
					</span>
				</button>
			</div>
		</div>
	</div>
</section>