<section class="hero">
	<div class="container append-container">
		<div class="hero__text">
			<h1 class="site-title">
				<svg>
					<use xlink:href="img/sprite.svg#jeto-wallet"></use>
				</svg>
				Jeto Wallet
			</h1>
			<p class="hero__subtitle">
				For real-world assets sales transactions
			</p>
			<ul class="hero__list">
				<li class="hero__item">
					Store all your digital assets in one place
				</li>
				<li class="hero__item">
					Benefit from escrow features
				</li>
				<li class="hero__item">
					Get direct access to documents on transactions
				</li>
				<li class="hero__item">
					Protect your assets with industry-leading security
				</li>
			</ul>
			<div class="hero__image append-item">
				<img src="img/jeto-wallet/hero-image.png" alt="Decor image">
			</div>
			<button class="btn-primary">
				<span class="btn-primary__text">
					Download For
				</span>
				<span class="btn-primary__icon">
					<svg>
						<use xlink:href="img/sprite.svg#google"></use>
					</svg>
				</span>
			</button>
		</div>
	</div>
</section>