<section class="wallet">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">
				Jeto Wallet
			</h2>
			<p class="section-subtitle">
				All-in-one payment and storage solution for your digital assets
			</p>
		</div>
	</div>
	<div class="swiper wallet-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide wallet-slide">
				<div class="wallet-slide__image">
					<img src="img/home-page/wallet-slide-1.png" alt="Preview image">
				</div>
			</div>
			<div class="swiper-slide wallet-slide">
				<div class="wallet-slide__image">
					<img src="img/home-page/wallet-slide-1.png" alt="Preview image">
				</div>
			</div>
			<div class="swiper-slide wallet-slide">
				<div class="wallet-slide__image">
					<img src="img/home-page/wallet-slide-1.png" alt="Preview image">
				</div>
			</div>
		</div>
		<div class="swiper-navigation">
			<div class="swiper-button-prev wallet-button-prev">
				<svg class="swiper-button__icon">
					<use xlink:href="img/sprite.svg#arrow-left"></use>
				</svg>
			</div>
			<div class="swiper-button-next wallet-button-next">
				<svg class="swiper-button__icon">
					<use xlink:href="img/sprite.svg#arrow-right"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="container wallet-benefits">
		<ul class="wallet-benefits__list">
			<li class="wallet-benefits__item">
				<div class="wallet-benefits__icon">
					<img src="img/home-page/icon-crypto.svg" alt="Decor icon">
				</div>
				<h3 class="wallet-benefits__title">
					Fiat & Crypto
				</h3>
				<p class="wallet-benefits__description">
					Make payments in any currency
				</p>
			</li>
			<li class="wallet-benefits__item">
				<div class="wallet-benefits__icon">
					<img src="img/home-page/icon-custody.svg" alt="Decor icon">
				</div>
				<h3 class="wallet-benefits__title">
					Custody
				</h3>
				<p class="wallet-benefits__description">
					Keep funds safe in your wallet until the deaal is closed
				</p>
			</li>
			<li class="wallet-benefits__item">
				<div class="wallet-benefits__icon">
					<img src="img/home-page/icon-nft.svg" alt="Decor icon">
				</div>
				<h3 class="wallet-benefits__title">
					NFT
				</h3>
				<p class="wallet-benefits__description">
					Store your NFT right in the wallet
				</p>
			</li>
			<li class="wallet-benefits__item">
				<div class="wallet-benefits__icon">
					<img src="img/home-page/icon-escrow.svg" alt="Decor icon">
				</div>
				<h3 class="wallet-benefits__title">
					Escrow
				</h3>
				<p class="wallet-benefits__description">
					Full integration with Smartplace
				</p>
			</li>
		</ul>
	</div>
	<div class="container">
		@@include('../../../UI/btn-primary/btn-primary.html', {
			"text": "Request demo"
		})
	</div>
	<div class="wallet__background">
		<img src="img/home-page/wallet-bg.png" alt="Background image">
	</div>
</section>