<footer class="footer">
  <div class="container">
    <a href="#" class="logo">
      <img class="logo__image" src="img/logo.svg" alt="Logo of JetSet">
    </a>
    <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">
            Solution
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Products
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            How it work
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Login
          </a>
        </li>
      </ul>
  </div>
</footer>