<section class="benefits">
	<div class="container">
		<div class="benefits__text">
			<div class="benefits__item">
				<span class="benefits__number">
					1
				</span>
				<h2 class="section-title">
					Escrow
				</h2>
				<p class="benefits__description">
					Due to the deep integration with JetSet Smartplace, now you can secure the deal by getting your funds locked right in YOUR account. No 3d-party escrow agent is required.
				</p>
			</div>
			<div class="benefits__item">
				<span class="benefits__number">
					2
				</span>
				<h2 class="section-title">
					Asset NFT storage
				</h2>
				<p class="benefits__description">
					Keep your NFTs for your vehicles in Jeto wallet and get instant access to all digitally signed legal documents on transactions right from the wallet.
				</p>
			</div>
		</div>
		<div class="benefits__image">
			<img src="img/jeto-wallet/benefits.png" alt="Preview image">
		</div>
	</div>
</section>